.idea/
.vscode/
/coverage/
/vendor/
/logs/*
!/logs/README.md
.phpunit.result.cache
*.swp
*.pid
/*/*.pid
/*/*/*.pid
*/*/*.pid
daemon/*/nohup.out
daemon/Poller/nohup.out
daemon/housekeepingPoller/nohup.out
/rrd/**
/file/**
/public/static/*
/public/static/**
app/settings.php
/app/settings.php
app/config.php
testing/**
app/routes.php
